body {
    margin: 0;
    padding: 0;
    background-color: #282a36;
    color: #ed71aa;
}

.posts {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    column-gap: 20px;
}

.post {
    padding: 20px;
    border-style: solid;
}

.posted-by {
    display: grid;
    gap: 20px;
    grid-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.posted-by-item {
    height: 50px;
}

.user-image img {
    height: 20px;
}

.comments {
    margin-left: 10px;
    border-left-style: solid;
}

.comment {
    margin-left: 10px;
    padding-left: 10px;
    border-left-style: solid;
}

.toggler {
    display: none;
}

.toggler+.toggler-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.toggler:checked+.toggler-content {
    max-height: 10000px;
    opacity: 1;
}